/* *{
    margin: 0;
    padding: 0;
} */
/* .hello{
    
   
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;   
    right: 0px;
}
.logo{
    color: white;
    text-align: center;
    padding-top: 14px;
    font-weight: 600;
    
}
.list li{
    text-align: center;
    color:white;
    padding-top: 11px;
    padding-right:5px;
    

} */
